# Copyright 2022 Google LLC
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met: redistributions of source code must retain the above copyright
# notice, this list of conditions and the following disclaimer;
# redistributions in binary form must reproduce the above copyright
# notice, this list of conditions and the following disclaimer in the
# documentation and/or other materials provided with the distribution;
# neither the name of the copyright holders nor the names of its
# contributors may be used to endorse or promote products derived from
# this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
# "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
# LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
# A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
# OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
# SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
# LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
# DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
# THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
# OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

config PROTOCOL
    default "GPU_VIPER" if RUBY_PROTOCOL_GPU_VIPER
    default "MOESI_AMD_Base" if RUBY_PROTOCOL_MOESI_AMD_BASE
    default "MESI_Two_Level" if RUBY_PROTOCOL_MESI_TWO_LEVEL
    default "MESI_Three_Level" if RUBY_PROTOCOL_MESI_THREE_LEVEL
    default "MESI_Three_Level_HTM" if RUBY_PROTOCOL_MESI_THREE_LEVEL_HTM
    default "MI_example" if RUBY_PROTOCOL_MI_EXAMPLE
    default "MOESI_CMP_directory" if RUBY_PROTOCOL_MOESI_CMP_DIRECTORY
    default "MOESI_CMP_token" if RUBY_PROTOCOL_MOESI_CMP_TOKEN
    default "MOESI_hammer" if RUBY_PROTOCOL_MOESI_HAMMER
    default "Garnet_standalone" if RUBY_PROTOCOL_GARNET_STANDALONE

cont_choice "Ruby protocol"
    config RUBY_PROTOCOL_GPU_VIPER
        bool "GPU VIPER"
        depends on BUILD_GPU
    config RUBY_PROTOCOL_MOESI_AMD_BASE
        bool "MOESI AMD base"
    config RUBY_PROTOCOL_MESI_TWO_LEVEL
        bool "MESI two level"
    config RUBY_PROTOCOL_MESI_THREE_LEVEL
        bool "MESI three level"
    config RUBY_PROTOCOL_MESI_THREE_LEVEL_HTM
        bool "MESI three level HTM"
    config RUBY_PROTOCOL_MI_EXAMPLE
        bool "MI example"
    config RUBY_PROTOCOL_MOESI_CMP_DIRECTORY
        bool "MOESI CMP directory"
    config RUBY_PROTOCOL_MOESI_CMP_TOKEN
        bool "MOESI CMP token"
    config RUBY_PROTOCOL_MOESI_HAMMER
        bool "MOESI hammer"
    config RUBY_PROTOCOL_GARNET_STANDALONE
        bool "Garnet standalone"
endchoice

rsource "chi/Kconfig"
