build
gem5_build
parser.out
parsetab.py
cscope.files
cscope.out
*.pyc
*~
.*.swp
.*.swo
m5out
/src/doxygen/html
/docs/_build
/ext/dramsim2/DRAMSim2
/ext/mcpat/regression/*/*.out
/util/m5/*.o
/util/m5/*.a
/util/m5/m5
/util/packet_pb2.py
/util/tap/*.d
/util/tap/*.o
/util/tap/m5tap
/util/term/m5term
/system/arm/dt/*.dtb
/system/arm/dt/.gen
/system/arm/bootloader/arm/*.o
/system/arm/bootloader/arm/boot.arm
/system/arm/bootloader/arm/boot_emm.arm
/system/arm/bootloader/arm64/*.o
/system/arm/bootloader/arm64/boot.arm64
/system/arm/bootloader/arm64/boot_emm.arm64
/system/arm/bootloader/arm64/boot_v2.arm64
configs/example/memcheck.cfg
configs/dram/lowp_sweep.cfg
.pyenv
.vscode
typings
.DS_Store
