/tests/Makefile
/tests/Makefile.in
/tests/fp80_cvfd
/tests/fp80_cvtd
/tests/fp80_cvtf
/config.h
/config.h.in
/doxygen-doc
/Doxyfile
/Makefile.in
/Makefile
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
package.m5
stamp-h1
.deps
.libs
*.a
*.la
*.lo
*.o
*~
